/* Общие стили */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: #4654ae;
    display: flex;
    justify-content: center;
    
}
    
    
.container-global {
    width: 1300px;
    display: flex;
    justify-content: center;
   
    
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #c2d1f0;
    border-radius: 20px;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,.2);
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
}
.input-pl{
    height: 40px;
    width: 400px;
    border: 1px solid #404ea0;
    border-radius: 10px;
}
.btn-modal-registr{
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 200px;
    background-color: #ffcc00;
}
.inpu-zagol{
    color: black;
}


.hero {
    display: flex;
    background-color: #f9fafb;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}
footer{
    background-color: #c8cacd;
    display: flex;
    justify-content: center;
    height: auto;
    
    
}

.zagol-footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

/* Стили для подвала */
.container-global-footer{
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.container-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 24px;

}
.phone{
    display: flex;
    gap: 20px;

}
.tel{
    width: 50px;
    height: 50px;
}
.socseti{
    display: flex;
    gap: 20px;
}
.img-social{
    width: 50px;
    height: 50px;
}
.login-form{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.link-login{
    text-decoration: none;
}



/*Авторизация*/
.container-footer-avtoriz{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 48px;

}

.rigt-footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
}