<form action="/news/create" method="POST">
  <label for="description">Описание:</label><br>
  <textarea id="description" name="description"></textarea><br><br>
  <label for="image">URL изображения:</label><br>
  <input type="text" id="image" name="image"><br><br>
  <input type="submit" value="Сохранить">
</form>