<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спортивный Комплекс</title>
    <link rel="stylesheet" href="/css/style-index.css">
</head>
<body>
    
    <header>
        
    <div class="container-global">
        
    <div class="logo-container">
        <img src="/img/Big-logo.png" alt="" class="logo">
    </div>
    <ul class="menu">
        <li class="list"><a class="anchor" href="/services">УСЛУГИ</a></li>
        <li class="list"><a class="anchor" href="/timeWork">ЧАСЫ РАБОТЫ</a></li>
        <li class="list"><a class="anchor" href="#news">КОНТАКТЫ</a></li>
        <li class="list"><a class="anchor" href="/accaunt">ЛИЧНЫЙ КАБИНЕТ</a></li>
        

    </ul>
    </div>

    </header>

    <section class="hero">
        
        <div class="container-hero">
            

        </div>
        
    </section>
    <section class="news">
        <div class="container-news">
            <h2 class="h2-news" >Новости</h2>
            <div class="container-bloc-news">
            <div class="container-bloc">
                <div class="bloc-element">
                    <img src="/img/news1.jpg" alt="" class="news1">
                    
                    <p>Сегодня состоялся захватывающий баскетбольный матч! Поздравляем победителей и благодарим всех за участие и присутствие!</p>
                
                </div>
                <div class="bloc-element"></div>
                <div class="bloc-element"></div>

            </div>
            <div class="container-bloc">
                <div class="bloc-element"></div>
                <div class="bloc-element"></div>
                <div class="bloc-element"></div>

            </div>
        </div>
            

        </div>

    </section>

    <footer>
    <div class="container-global-footer">
    <div class="zagol-footer">
<h2 id="news">Контактная информация</h2>
</div>
<div class="container-footer">
    <div class="rigt-footer">
        <div class="phone">
            <img src="/img/tel.png" alt="" class="tel">
            <p>+79623458912</p>

        </div>
        <div class="phone">
            <img src="/img/email.png" alt="" class="tel">
            <p>sportcomplecs__@mail.ru</p>

        </div>

    </div>
    <div class="left-footer">
        <div class="socseti">
            <img src="/img/vk.png" alt="" class="img-social">
            <img src="/img/tg.png" alt="" class="img-social">
            <img src="/img/ws.png" alt="" class="img-social">
            <img src="/img/ok.png" alt="" class="img-social">

        </div>

    </div>

</div>
</div>

    </footer>
    <a href="/carts">
    <img src="/img/Cart.png" alt="" class="cart-img">
    </a>
    </body>
    
</html>

   