<!DOCTYPE html>
<html>
<head>
  <title>Панель управления менеджера</title>
</head>
<body>
  <h1>Добро пожаловать, менеджер!</h1>
  <p>Здесь вы можете управлять занятиями, пользователями и т.д.</p>
  <a href="/create-training-session">Создать тренеровку</a>
</body>
</html>